---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}



<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



  <h1>Collaborators</h1>

  <!-- Collaborators list -->
  <ul class="collaborators-list">
      <li class="collaborator">
          <div class="collaborator-info">
              <span><a href="https://www.researchgate.net/profile/Rohini-s-3"><span> Rohini S.</span></a>
          </div>
      </li>
      <li class="collaborator">
          <div class="collaborator-info">
            <a href="https://www.researchgate.net/profile/Sounaka-Mishra"><span> Sounaka Mishra </span></a>
          </div>
      </li>
      <li class="collaborator">
          <div class="collaborator-info">
            <a href="https://sites.google.com/view/g-arunkumar/"><span> G Arunkumar</span></a>
          </div>
      </li>

      <li class="collaborator">
        <div class="collaborator-info">
          <a href="https://www.cse.iitm.ac.in/~bvrr/"><span> Raghavendra Rao B. V. </span></a>
        </div>
    </li>

    <li class="collaborator">
      <div class="collaborator-info">
        <a href="https://home.iitm.ac.in/naru/"><span> Narayanan N </span></a>
      </div>
  </li>
  </ul>
