/* ==========================================================================
   FOOTER
   ========================================================================== */

   .page__footer {
    @include clearfix;
    float: left;
    margin: 0;
    width: 100%;
    clear: both;
  
    /* Sticky footer fix */
    position: absolute;
    bottom: 0;
    height: auto;
    margin-top: 1em;
    color: mix(#fff, $gray, 50%);
    -webkit-animation: intro 0.3s both;
            animation: intro 0.3s both;
    -webkit-animation-delay: 0.45s;
            animation-delay: 0.45s;
    background-color: #2a2a2a; /* Dark background */
    border-top: 1px solid #444;
  
    footer {
      @include clearfix;
      display: flex;
      align-items: center;
      justify-content: space-between; /* Align content on a single line */
      margin: auto auto;
      max-width: 100%;
      padding: 0.5em 0.5em;
  
      @include breakpoint($x-large) {
        max-width: $x-large;
      }
    }
  
    a {
      color: #ccc;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
        color: #fff;
      }
    }
  
    .fas,
    .fab,
    .far,
    .fal {
      color: #ccc;
    }
  }
  
  .page__footer-copyright {
    font-family: $global-font-family;
    font-size: $type-size-7;
    color: #aaa;
    margin: auto; /* Remove unnecessary margins */
  }
  
  .page__footer-follow {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex; /* Single-line layout for links */
      gap: 1em; /* Space between items */
    }
  
    li {
      font-family: $sans-serif-narrow;
      font-size: $type-size-6;
      text-transform: uppercase;
      color: #ccc;
    }
  
    a {
      font-weight: bold;
      color: #ccc;
  
      &:hover {
        color: #fff;
      }
    }
  
    .social-icons {
      a {
        white-space: nowrap;
        color: #ccc;
  
        &:hover {
          color: #fff;
        }
      }
    }
  }
  